@{
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
    ViewData["Title"] = "Home Page";
    string username = (string)ViewData["username"];
}

<div class="text-center">
    
    <h1 class="display-4">Welcome, @username, to Shopping Cart!</h1>

</div>
