@{
    Layout = "~/Views/Shared/_Layout_Customer.cshtml";
    ViewData["Title"] = "Checkout Confirmed";
}

<div class="text-center">

    <div class="display-4">Thank you for shopping with ShoppingCartApp!</div>

</div>
